<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pr_manager.http.mvc.dao.PropertiesDao">

    <sql id="column">name,value,parentId,explanationId</sql>

    <resultMap id="JSON" type="net.sf.json.JSONObject"/>

    <insert id="addObject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO properties (<include refid="column"/>) VALUES (#{key},"json",#{parentId},0)
    </insert>

    <insert id="addArray" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO properties (<include refid="column"/>) VALUES (#{key},"array",#{parentId},0)
    </insert>

    <insert id="addValue">
        INSERT INTO properties (<include refid="column"/>) VALUES (#{key},#{value},#{parentId},0)
    </insert>

    <select id="getSubProperties" resultMap="JSON">
        SELECT p.id,p.name,p.value,p.parentId,e.value AS explanation FROM properties p
        LEFT JOIN explanation e ON e.id = p.explanationId
        WHERE p.parentId = #{_parameter}
    </select>

    <select id="getChildrenId" resultType="String">
        SELECT id FROM properties WHERE parentId = #{_parameter}
    </select>

    <select id="getProperty" resultMap="JSON">
        SELECT p.id,p.name,p.value,p.parentId,e.value AS explanation FROM properties p
        LEFT JOIN explanation e ON e.id = p.explanationId
        WHERE p.id = #{_parameter}
    </select>

    <select id="getColumnId" resultType="String">
        <foreach collection="propertyKey">
            (SELECT id FROM properties WHERE parentId =
        </foreach>
        #{id}
        <foreach collection="propertyKey" item="key">
            AND name = #{key})
        </foreach>
    </select>

    <select id="getColumnValue" resultType="String">
        SELECT value FROM properties WHERE id = #{_parameter}
    </select>

    <update id="updateColumn">
        UPDATE properties SET value = #{value} WHERE id = #{id}
    </update>

</mapper>