<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pr_manager.http.mvc.dao.RegionBrandDao">

    <sql id="column">region,brand,scope,name,propertiesId,environmentId</sql>

    <sql id="selectEnvironmentId">(SELECT id FROM environment WHERE name = #{environment})</sql>

    <resultMap id="JSON" type="net.sf.json.JSONObject"/>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO region_brand (<include refid="column"/>) VALUES (#{region},#{brand},#{scope},#{name},0,
        <include refid="selectEnvironmentId"/>)
    </insert>

    <select id="getUpId" resultType="String">
        SELECT id FROM properties WHERE parentId = 0 ORDER BY id DESC LIMIT 1
    </select>

    <update id="setPropertiesId">
        UPDATE region_brand SET propertiesId = #{propertiesId} WHERE id = #{id}
    </update>

    <select id="getIntroduction" resultMap="JSON">
        SELECT id,
        <include refid="column"/>
        FROM region_brand WHERE name = #{name} AND environmentId = <include refid="selectEnvironmentId"/>
    </select>

    <select id="getPropertyId" resultType="String">
        SELECT propertiesId FROM region_brand WHERE name = #{name} AND environmentId = <include refid="selectEnvironmentId"/>
    </select>

</mapper>